*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  'Plus Jakarta Sans', Arial, sans-serif;
}
.Profile{
  display: flex;
  width: 730px;
  height: 70px;
  color: gray;
  font-size: 20px;
  margin: 35px auto;
  padding: 13px 16px;
  border-radius: 3px;
  border: 1px solid gray;
}
.Submission{
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  height: 65px;
  width: 159px;
  margin: 40px 595px;
  font-size: 20px;
  border: none;
}
.login-p{
  color: gray;
  font-size: 20px;
  margin: 116px 510px 0px 555px;
}
